@page
@model MIS353_ApplicationGroupKEAH.Pages.UserTravelAdd.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserTravel[0].UtdateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserTravel[0].PidNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserTravel[0].UidNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserTravel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UtdateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PidNavigation.Pid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UidNavigation.Uid)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Utid">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Utid">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Utid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
